.bio {
  margin: auto;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.content {
  text-align: center;
  margin: 1%;
  vertical-align: middle;
  padding: 20px;
}

.photo {
  border-radius: 50%;
  display: block;
  margin: auto;
  height: 72%;
  margin-top: 1%;
  border: 1px solid #777;
  width: 250px;
  height: 250px;
  vertical-align: middle;
}

.contact-me {
  margin: 10px;
}

.social-icon {
  margin: 2px;
}

.social-icons {
  margin: 20px;
}
